<main>
    <div class="wrapper">
        <div class="form">
            <textarea class="input-data" type="text" [(ngModel)]="html"></textarea>
            <textarea class="input-data" type="text" [(ngModel)]="componentData"></textarea>
            <Button class="btn" (click)="createComponent()">Create</Button>
        </div>

        <div class="component">
            <!-- <ng-template componentCreator [componentFactory]="dynamicComponentFactory">
            </ng-template> -->
            <div #content></div>
        </div>
    </div>
</main>